@model IEnumerable<ProjectSmoothboard23.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <img src="https://cdn.cnn.com/cnnnext/dam/assets/130624173927-50-surf-spots-rincon.jpg" alt="Alternate Text"  class="img-fluid"/>
</div>

<h1 class="text-center mt-4 mb-2">Welkom bij Smoothboards</h1>
<h3 class=" text-center mb-5">Spicin’ up your board!</h3>

<div class="container">
    <h2>Producten voor u</h2>
    <div class="container d-flex p-2 bd-highlight flex-wrap justify-content-around">
        @foreach (var item in Model.Take(3))
        {
            <div class="card" style="width: 20rem;">
                <img src="https://via.placeholder.com/150" alt="Alternate Text" class="card-img-top" />
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.productname)</h3>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                    <a class="card-link" asp-controller="Products" asp-action="Details" asp-route-id="@item.productid">Details</a>
                </div>
            </div>
        }
    </div>
    <h2 class="mt-4">Net binnen</h2>
    <div class="container d-flex p-2 bd-highlight flex-wrap justify-content-around ">
        @foreach (var item in Model.Take(3))
        {
            <div class="card" style="width: 20rem;">
                <img src="https://via.placeholder.com/150" alt="Alternate Text" class="card-img-top" />
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.productname)</h3>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                    <a class="card-link" asp-controller="Products" asp-action="Details" asp-route-id="@item.productid">Details</a>
                </div>
            </div>
        }
    </div>
</div>
